body {
    font-family: sans-serif;
    background-image: url("gradient-background.jpg");
}

.banner {
    width: auto;
    margin: auto;
    text-align:center;
    padding: 40px;
}

.banner a {
    text-align:justify;
    color: slategrey;
}

.banner h1, h2, h3 {
    text-align: left;
}

#current {
    width: auto;
    padding: 20px 40px;
    margin: auto;
    float: none;
}

#current p {
    font-size:larger;
}
